:root {
    --bunker: #33334D;          /* Gris oscuro, casi azulado */
    --nobel: #fbead1;           /* Gris medio claro */
    --nevada: #6B6B7C;          /* Gris azulado medio */
    --scarpa-flow: #505067;     /* Gris azulado oscuro */
    --corduroy: #48485A;        /* Gris muy oscuro */
    --oslo-gray: #8B8B9E;       /* Gris claro azulado */
    --gunsmoke: #7C7C8A;        /* Gris cálido medio */
    --nandor: #54545E;          /* Gris azulado medio oscuro */
    --xanadu: #7C7C85;          /* Gris suave medio */
}


/* Estilos Generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--scarpa-flow); /* Fondo gris oscuro suave */
    color: var(--nobel); /* Texto en gris claro */
    text-align: center;
    margin: 0;

    padding: 20px;
    box-sizing: border-box;

    background: linear-gradient(-45deg, #333,#a15320, #333);
    background-size: 400% 400%;
    animation: fondoAnimado 7s ease infinite;
    /* Resto de las propiedades */
}


/* Animación Keyframe */
@keyframes aparecerDesdeArriba {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fondoAnimado {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Aplicar animación a elementos */
.foto, h1, p, .links a {
    animation: aparecerDesdeArriba 1s ease-out;
}

/* .foto:hover {
    transform: rotate(360deg); /* Gira la imagen 360 grados */
/* }  */

/* Estilo para la imagen de perfil */


/* Estilo para los enlaces */
.links a {

    place-items: center;
    font-weight: bold; /* Hace el texto en negrita */
    flex-direction: row; /* Alinear elementos en una fila */
    display: flex;
    /* align-items: right; */
    margin: 10px 0;
    /* margin-left: 20vh; */
    /* margin-right: 30vh; */ 
    padding: 10px;
    background-color: var(--nobel);
    color: var(--corduroy);
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%; /* Utiliza el ancho completo del contenedor */    
 /* El ancho se ajusta al contenido hasta el máximo establecido */
}


.links a:hover {
    background-color: #e65c00; /* Naranja más oscuro al pasar el ratón */
    transform: translateY(-2px); /* Eleva ligeramente el enlace */ 
}

/* Estilo para las imágenes en los enlaces */
    

.links a > span {
    flex-grow: 1; /* Permite que el texto ocupe el espacio restante */
    text-align: center; /* Centra el texto dentro del espacio asignado */
}
.link-img {
    width: 27px; /* Ajusta el ancho */
    height: auto; /* Mantiene la proporción */
    vertical-align: middle;
    margin-right: 0px; /* Espacio a la derecha de la imagen */
    margin-left: min(37%);
 /* Espacio a la izquierda de la imagen */
    transform: translateX(-37%); /* Ajusta la posición de la imagen para centrarla realmente */
    display: inline-block;
}

/* Estilo para los contenedores de los enlaces */
.links {
    
   /* border-left: 2px solid #ff6600;  Barra más delgada */
    /* display: flex; Usar flex para alinear los enlaces */
    /* flex-direction: column; Organizar los enlaces en una columna */
    padding-left: 35%;
    padding-right: 36%;
    text-align: justify;
    max-width: 100%;
/* 
    margin: 20px 0; */
}

/* Estilo para el nombre y la descripción */
h1, p {
    margin: 10px 0;
}
h1 a {
    text-decoration: none; /* Elimina cualquier subrayado predeterminado */
    color: inherit; /* Hereda el color del texto del título h1 */
    cursor: pointer; /* Cambia el cursor al puntero al pasar el ratón por encima */
    /* Otros estilos que desees aplicar */
}


h1 {
    font-size: 2rem; /* en lugar de 2em */
    text-decoration-line: overline;
    color: var(--nobel);
    position: relative;
    z-index: 0; /* Coloca el título debajo de la moneda */
 /* Espacio para la moneda */
}

p {
    font-size: 1.2rem; /* en lugar de 1.2em */
    color: var(--nobel);
}


@media (max-width: 600px) {
    footer span:hover {
        color: #000; /* Cambia este color al deseado */
    }
    body {
        display: flex; /* Habilita Flexbox */
        flex-direction: column; /* Alinea los elementos en una columna */
        justify-content: center; /* Centra los elementos verticalmente */
        /* align-items: center; Centra los elementos horizontalmente */
        height: 90vh; /* Altura completa de la ventana del navegador */
        margin: 0; /* Elimina cualquier margen por defecto */
        padding: 10px; /* Añade padding para evitar que el contenido toque los bordes */
    }

    .foto {
        width: 50%; /* Imagen de perfil adaptada al ancho del dispositivo */
        height: auto; /* Altura automática para mantener la proporción */
        margin-top: 15px; /* Margen superior ajustado */
        margin-bottom: 15px; /* Margen inferior ajustado */
    }

    h1 {
        font-size: 1.2rem; /* Tamaño de título ajustado para legibilidad */
    }

    p {
        font-size: 1em; /* Tamaño de texto ajustado para legibilidad */
        margin-bottom: 4px; /* Espacio ajustado después del párrafo */
    }

    .links a > span {
        flex-grow: 1; /* Permite que el texto ocupe el espacio restante */
        text-align: center; /* Centra el texto dentro del espacio asignado */
    }
    .link-img {
        align-items: center;
        justify-content: center;
      
    }
    .links {
    
        /* border-left: 2px solid #ff6600;  Barra más delgada */
         /* display: flex; Usar flex para alinear los enlaces */
         /* flex-direction: column; Organizar los enlaces en una columna */
         align-items: center; /* Centrar enlaces horizontalmente */
         padding-left: 20%;
         padding-right: 20%;
         margin: 20px 0;
         max-width: 100%;
        text-align: justify;
         margin: 20px 0;
    }
    
     
    }
    .flipper {
        perspective: 1000px; /* Profundidad de la perspectiva para el efecto 3D */
        width: 200px; /* Ancho de la moneda */
        height: 200px; /* Altura de la moneda */
        position: relative;
        margin: 20px auto; /* Centrar la moneda */
        z-index: 1; /* Asegura que la moneda se sitúe sobre otros elementos */
    }
    
    .flipper:hover .front {
        transform: rotateY(180deg);
    }
    
    .flipper:hover .back {
        transform: rotateY(0deg);
    }
    
    .foto {
        width: 100%; /* Ajuste del ancho al contenedor */
        height: 100%; /* Ajuste de la altura al contenedor */
        position: absolute;
        top: 0; /* Alineación superior */
        left: 0; /* Alineación izquierda */
        backface-visibility: hidden; /* Oculta la parte trasera cuando rota */
        border-radius: 50%; /* Forma circular */
        transition: transform 0.6s; /* Transición suave */
    
    
    }
    
    .front {
        transform: rotateY(0deg);
        z-index: 2; /* Coloca la parte frontal sobre la trasera */

    }
    
    .back {
        transform: rotateY(-180deg);
        z-index: 1; /* Coloca la parte trasera detrás de la frontal */

    }


    /* .foto {
        margin-top: 20px;
        max-width: 40%; Ajustar al ancho del dispositivo
        width: auto; Ancho automático para mantener la proporción
        max-height: 12rem; Establecer una altura máxima en relación con la altura de la ventana del navegador
        height: auto; Altura automática para mantener la proporción
        border-radius: 50%;
        border: 4px solid var(--nobel);
        margin: 20px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        transition: transform 0.5s ease-in-out;
        transform-style: preserve-3d; Permite la rotación en 3D
        position: absolute;
        backface-visibility: hidden; Oculta la parte trasera cuando rota
        border-radius: 50%; Forma circular
        transition: transform 0.6s; Transición suave
    } */

    footer {
        
        text-align: center;
        color: black;
        padding: 5px 0;
        background-color: #fbead16f; /* Asegúrate de reemplazar con el color de fondo deseado */
        width: 100%; /* Ocupa toda la fila horizontal */
        position: fixed; /* Fija el footer en la parte inferior */
        bottom: 0; /* Posición en la parte inferior de la pantalla */
        left: 0; /* Alineado a la izquierda */
    }
    
    footer span:hover {
        color: #e65c00; /* Cambia este color al deseado */
    }
    